/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
}

.header {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 21px 20px 20px 20px;
  margin-block-end: 60px;
}

.decorated-zone {

}

.header__theme-menu {
 
}

.header__theme-menu-list {
  display: flex;
  gap: 13px 25px;
  justify-content: center;
  align-items: center;
  /* margin-block-start: 21px; */
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  border: none;
  background: inherit;
}

.header__theme-menu-button_active {

}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_auto {
  
}

.header__theme-menu-button_type_dark {

}

.header__title {
  color: var(--heading-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  margin-inline-start: -20px;
}

.header__description {
  color: var(--background-color);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  width: calc(100vw - 54%);
  height: min-content;
  justify-self: end;
  align-self: center;
}

@media (width > 1440px) {
  .header__description {
    width: calc(1440px - 50%);
  }
}

.text__background {
  background-color: var(--accent-color);
}

.main {

}

.content {
  display: grid;
  grid-template-columns: fit-content(314px) 2fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 0 20px;
  margin-block-end: 80px;
}

.content__title {
  color: var(--accent-color, #FF0070);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin-block-end: 20px;
}

.content__inner-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
}

.content__article {
  display: flex;
  flex-direction: column;
}

.content__headline {
  color: var(--background-color, #000028);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
}

.content__text {
  color: var(--text-color, #F1B2CE);
  font-family:  var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin-block-start: 10px;
}

.section {
  padding: 0 20px;
  margin-block-end: 80px;
}

.section__title {
  width: 314px;
}

.section__inner-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.content__caption {
  color: var(--background-color, #000028);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.content-image {
  padding: 0 20px;
  margin-block-end: 60px;
}

.content-image_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 20px;
  margin-block-start: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.block-big--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.block-big--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.block-big--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.block--4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.block-big--5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}

.footer__title {
  color: var(--heading-color, #DB00FF);
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
  font-family: var(--font-family, "Arial Narrow", sans-serif);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
}