/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --heading-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --font-family: "IBM Plex Mono";
  --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image: url(../images/cover-image-dark.png);
}